@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-body text-primary;
        --color-bg-primary: #F9FAFB;
        --color-bg-secondary: #F9FAFB;
        --color-bg-body: ##F3F4F6;
            --color-bg-card: #DBEAFE;
        --color-text-primary: #000000;
        --color-text-btn: #2563EB;
        
     
}
.light{
    --color-bg-primary: #F9FAFB;
        --color-bg-secondary: #edf2f7;
        --color-bg-body:##F3F4F6;
        --color-bg-card:#EFF6FF;
        --color-text-primary: #2d3748;
        --color-text-btn: #2563EB;
        
        
        
}


.dark {
    --color-bg-primary: #111827;
    --color-bg-secondary: #2563EB;
    --color-bg-body: #1F2937;
    --color-bg-card: #1E3A8A;
    --color-text-primary: #ffff;
    --color-text-btn: #ffff;
    
 
}
